@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:700');

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	padding: 0 0 2rem 0;
	margin: 0;
	font-size: 1.1rem;
	line-height: 1.6rem;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
}

.nature-graphic {
	background-color: #F6F5EE;
	padding: 1rem;
	margin: 0;
}

a {
	color: #006699;
	text-decoration: none;
}

a:focus, a:hover {
	text-decoration: underline;
}

.bold {
	font-weight: 700;
}

.visually-hidden {
	position: absolute !important;

	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px !important;
	padding: 0 !important;

	opacity: 0;
	border: 0 !important;
}

.error-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}